* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  background: #f6faf5;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  color: #fff;
  background: #296b4a;
}
